
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;  
    

}

/* *{
box-shadow: 0 0 10px 20px rgba(172, 20, 159, 0.1);
border: 3px dotted rebeccapurple;
} */


:root{
    --background: rgb(213 255 212);
    --box: 1px solid whitesmoke;
    --text:rgb(100, 82, 255);
    --name:rgb(100,149,237);
    --hover:rgba(250, 196, 225,0.25);
    
}

.main{

    width: 100vw;
    height:100vw;
    position: relative; 
    background-size: 40px 40px;
    background-color: var(--background);
    background-image: linear-gradient(to right, #0002 1px, transparent 1px), linear-gradient(to bottom, #0002 1px, transparent 1px);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}




/* Style for the content block */
.block {
    overflow-y: auto;
    border: var(--box); 
    border-radius: 8px;       /* Rounded corners */
    padding: 20px;              /* Add some padding inside the box */
  
    background-color: rgba(253, 217, 236);
    position: relative; /* Allows positioning with left/top */
    cursor: grab;
}
.notblock {
    position: absolute;
    top: 70px;
    
    padding: 10px;
    font-family: 'VT323', monospace;
    font-size: 120px;
    color: rgba(255, 217, 0, 1); 
    z-index: 0; 
    user-select: none;
    pointer-events: none;
  }
  

.block p {
    color: var(--text);   
    font-family: "Kode Mono";   
    font-size: 15px;
}
strong {
  font-weight: bolder;
  font-size: 60px;
  color: var(--name);  
  
}

.block img {
    width: 700px;
    
}

.block:hover {
    background-color: var(--hover); 
  }





  .A1, .A2, .A3 {
    position: absolute;     /* Enable movement via top/left */
    cursor: grab;
    /* background: rgba(255, 255, 255, 0.8);
    border: 2px solid rebeccapurple; */
    padding: 10px;
    border-radius: 8px;
    user-select: none;
  }

.A1 {
    position: absolute;
    z-index: 8;
    left: 1017px;
    top: 187px;
    text-align: left;
    width: 200px;
    height: 330px;
   
}

.A2 {
    position: absolute;
    z-index: 10;
    left: 1192px;
    top: 521px;
    text-align: left;
    width: 100px;
    height: 70px;
   
}

.A3 {
    position: absolute;
    z-index: 5;
    left: 60px;
    top: 24px;
    text-align: left;
    width: 900px;
    height: 700px;
   
}